<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVenueServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVenuesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewVenuesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableVenueServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DisableVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableVenueServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EnableVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemOverviewServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SystemOverviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInternetServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateInternetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAddComputerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadAddComputerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComputerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddComputerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUpdateComputerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadUpdateComputerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComputersServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewComputersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComputerStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateComputerStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LecturerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterLecturerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.RegisterLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLecturersServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewLecturersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEditLecturerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadEditLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLecturerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAddModuleServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LoadAddModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddModuleServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.AddModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadViewModulesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LoadViewModulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveModuleServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.RemoveModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitStudentModulesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.InitStudentModulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentsPerModuleServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.ViewStudentsPerModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadModulesForStudentView</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LoadModulesForStudentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCreateExamServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LoadCreateExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExamServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.CreateExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadViewExamsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LoadViewExamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExamServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.DeleteExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditExamServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.EditExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExamServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.UpdateExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadExamsForAllocationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LoadExamsForAllocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateExamVenueServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.AllocateExamVenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllocationsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.Lect.LoadAllocationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentExamServlet</servlet-name>
        <servlet-class>za.ac.tut.web.stud.SearchStudentExamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVenueServlet</servlet-name>
        <url-pattern>/AddVenueServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVenuesServlet</servlet-name>
        <url-pattern>/ViewVenuesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableVenueServlet</servlet-name>
        <url-pattern>/DisableVenueServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableVenueServlet</servlet-name>
        <url-pattern>/EnableVenueServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemOverviewServlet</servlet-name>
        <url-pattern>/SystemOverviewServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInternetServlet</servlet-name>
        <url-pattern>/UpdateInternetServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAddComputerServlet</servlet-name>
        <url-pattern>/LoadAddComputerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComputerServlet</servlet-name>
        <url-pattern>/AddComputerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUpdateComputerServlet</servlet-name>
        <url-pattern>/LoadUpdateComputerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComputersServlet</servlet-name>
        <url-pattern>/ViewComputersServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComputerStatusServlet</servlet-name>
        <url-pattern>/UpdateComputerStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerLoginServlet</servlet-name>
        <url-pattern>/LecturerLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterLecturerServlet</servlet-name>
        <url-pattern>/RegisterLecturerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLecturersServlet</servlet-name>
        <url-pattern>/ViewLecturersServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEditLecturerServlet</servlet-name>
        <url-pattern>/LoadEditLecturerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <url-pattern>/UpdateLecturerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLecturerServlet</servlet-name>
        <url-pattern>/DeleteLecturerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAddModuleServlet</servlet-name>
        <url-pattern>/LoadAddModuleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddModuleServlet</servlet-name>
        <url-pattern>/AddModuleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadViewModulesServlet</servlet-name>
        <url-pattern>/LoadViewModulesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveModuleServlet</servlet-name>
        <url-pattern>/RemoveModuleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitStudentModulesServlet</servlet-name>
        <url-pattern>/InitStudentModulesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentsPerModuleServlet</servlet-name>
        <url-pattern>/ViewStudentsPerModuleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadModulesForStudentView</servlet-name>
        <url-pattern>/LoadModulesForStudentView.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCreateExamServlet</servlet-name>
        <url-pattern>/LoadCreateExamServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExamServlet</servlet-name>
        <url-pattern>/CreateExamServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadViewExamsServlet</servlet-name>
        <url-pattern>/LoadViewExamsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExamServlet</servlet-name>
        <url-pattern>/DeleteExamServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditExamServlet</servlet-name>
        <url-pattern>/EditExamServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExamServlet</servlet-name>
        <url-pattern>/UpdateExamServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadExamsForAllocationServlet</servlet-name>
        <url-pattern>/LoadExamsForAllocationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateExamVenueServlet</servlet-name>
        <url-pattern>/AllocateExamVenueServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllocationsServlet</servlet-name>
        <url-pattern>/LoadAllocationsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentExamServlet</servlet-name>
        <url-pattern>/SearchStudentExamServlet.do</url-pattern>
    </servlet-mapping>
</web-app>
